html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.wrapper {
  margin: 0;
  padding: 30px 100px 0 100px;
  height: 80vh;
  width: 100vw;
  display: flex;
}

.footer {
  margin: 0;
  height: 20vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.information {
  width: 60vw;
  height: 80vh;
}

.option {
  width: 40vw;
  height: 80vh;
  padding-left: 30px;
}

html {
  font-size: 120%;
}

h3,
p,
ul {
  margin: 0px;
}

h3 {
  border-bottom: 1px solid #000;
  margin: 8px 0;
}

ul {
  margin-top: 8px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100vw;
  color: #FFF;
  background: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.white:link {
  color: #FFF;
}

a.white:visited {
  color: #FFF;
}

.culture {
  color: #8BC34A;
}
.medic {
  color: #607D8B;
}
.law {
  color: #F44336;
}
.education {
  color: #2196F3;
}
.engineering {
  color: #9C27B0;
}
.biology {
  color: #FF9800;
}
